<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
    </head>
    <body>
        Hi there, this is the index.
        <form action="/shorten" method="POST">
            URL to shorten: <input type="text" name="url">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>