<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/styles.css" />
        
        <title>URL Shortener</title>
    </head>
    <body>
        <div class="container">
            <h1>URL Shortener</h1>
            <p>Here you go!</p>
            
                <code><%= url %></code>
            
            <a href="/">submit another</a>
        </div>
    </body>
</html>